@using pioneerTask.Entities.Model
@using pioneerTask.Enums
@model Form

@{
    ViewBag.PageTitle = "Form Management";
    ViewBag.CardTitle = "Form Data";
}
<br />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="Create">
            <div class="mb-3">
                <label asp-for="ControlName"></label>
                <input asp-for="ControlName" class="form-control" />
                <span asp-validation-for="ControlName" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="ControlType">Field Type</label>
                <select asp-for="ControlType" class="form-control">
                    <option value="">Select Field Type</option>
                    @foreach (var formType in Enum.GetValues(typeof(FieldType)))
                    {
                        <option value="@((int)formType)">@formType</option>
                    }
                </select>
                <span asp-validation-for="ControlType" class="text-danger"></span>
            </div>

            <div class="mb-3 form-check">
                <input asp-for="IsActive" class="form-check-input" type="checkbox" />
                <label asp-for="IsActive" class="form-check-label"></label>
                <span asp-validation-for="IsActive" class="text-danger"></span>
            </div>
            <div class="mb-3 form-check">
                <input asp-for="Isrequired" class="form-check-input" type="checkbox" />
                <label asp-for="Isrequired" class="form-check-label"></label>
                <span asp-validation-for="Isrequired" class="text-danger"></span>
            </div>

           

            <div class="mb-3">
                <button type="submit" class="btn btn-primary">Create</button>
                <a asp-action="Index" asp-controller="Form" class="btn btn-warning">Back to Index</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
